# sets{} in Python

## Create a set()

In [1]:
a = {"animals","balls", "cat"}
print(a)
print(type(a))

{'balls', 'cat', 'animals'}
<class 'set'>

## ### set() items are unordered

In [3]:
a = {"animals","balls", "cat"}
print(a[0])

TypeError: 'set' object is not subscriptable

# Duplicates not allowed in set()

In [6]:
a = {"jaan","jahan","animals","balls", "cat","cat", "ball", "jaan"}
print(a)                                           #we can see here that it does print duplicates

{'balls', 'jahan', 'cat', 'jaan', 'ball', 'animals'}

## True and 1 is considered the same value

In [8]:
a = {"jaan","jahan","animals","balls", "cat","cat", "ball", "jaan", True, 1,"run", 1,2,3,4,5}
print(a)

print(len(a))

{True, 'jahan', 2, 'cat', 'jaan', 3, 4, 5, 'ball', 'animals', 'balls', 'run'}
12

# set( ) item - Data types

In [9]:
x1 = {1,2,3,4,5}
x2  = {1.2,2.3,3.4,4.6}
x3 = {"a","b","c","d"}
x4 = {True,False, True}

print(x1,x2,x3,x4)

{1, 2, 3, 4, 5} {1.2, 2.3, 3.4, 4.6} {'a', 'd', 'c', 'b'} {False, True}

In [10]:
x5 = {[1,2,3,4,5]}
print(x5)

TypeError: unhashable type: 'list'

### List are mutable and hence unhashable object in python. Where as , sets in python are 
immutable and does not allow unhashable objects
therefore, python does not allow a set to store a list. we can not add a list to a set

In [11]:
x5 = {(1,2,3,4,5)}
print(x5)

{(1, 2, 3, 4, 5)}

In [12]:
x6 = {{"a":1, "b":2}}
print(x6)

TypeError: unhashable type: 'dict'

# nested is not a property of a set.

In [13]:
a = {{1,2,3},{2,3,4,5}}
print(a)
print(type(a))

TypeError: unhashable type: 'set'

### the se( ) constructor

In [17]:
set1 = set(("alpha","beta","gamma"))
print(set1)
print(type(set1))

{'beta', 'alpha', 'gamma'}
<class 'set'>

# Create empty set()

In [18]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [19]:
empty = set()
print(type(empty))

<class 'set'>

# Access Items

you can not access items in a set by referring to an index or a key.

But you can loop through  the set items  using a for loop, or asked if a specified value is present in a set, by
using the "in"keyword

In [20]:
a = {"a", "b","c", "d"}

for x in a :
    print(x)

a
d
c
b

Check if "item" is present in the set:

In [22]:
a = {"data", "python","code"}
print("code"in a)

True

In [23]:
a = {"data", "Python", "sana"}
print("analyst" in a 
     )

False

# Add items in set()

Once a set is created , we can not change its item, but we can add new items.

In [24]:
a = {"a1", "b1","c1",1,2,3}

a.add("sana")
print(a)

{'c1', 1, 2, 3, 'b1', 'a1', 'sana'}

In [25]:
x = {"data","python", "code"}
y = {"10,20,30,40"}

x.update(y)
print(x)

print(len(x))

{'code', 'python', '10,20,30,40', 'data'}
4

# remove item in set()

In [26]:
z = {"sana","jaan", "delhi", "agra", 12,13}

z.remove("agra")
print(z)

{'jaan', 12, 13, 'sana', 'delhi'}

We can also use pop( ) method to remove an item from set()but this method will remove a random item

In [27]:
z = {"sana","jaan", "delhi", "agra", 12,13}
x = z.pop()
print(x)
print(z)

jaan
{'agra', 12, 13, 'sana', 'delhi'}

# the clear() method empties the set()

In [28]:
z = {"sana","jaan", "delhi", "agra", 12,13}

z.clear()
print(z)

set()

### the del( ) key word will delete the set completely

In [29]:
z = {"sana","jaan", "delhi", "agra", 12,13}
del z
print(z)

NameError: name 'z' is not defined

# Join two set()

In [30]:
x = {"a", "b", "c"}
y = {1,2,3}

z = x.union(y)
print(z)

{1, 2, 'c', 3, 'a', 'b'}

Write a python program to find the mazimum and munimum values in a set.

In [32]:
set1 = {5,10,15,20,25}
print("Original set element:")
print(set1)
print(type(set1))
print("maximum value of the said set:")
print(max(set1))
print("minimum value of the said set:")
print(min(set1))

Original set element:
{20, 5, 25, 10, 15}
<class 'set'>
maximum value of the said set:
25
minimum value of the said set:
5

# Return a new item of set of identical items from two set

In [33]:
set1 = {10,20,30,40}
set2 = {20,40,50,60}

print(set1.intersection(set2))

{40, 20}