# list [ ]

In [2]:
my_list = ["apple","orange", "tomatto"]
print(my_list)
print(type(my_list))

['apple', 'orange', 'tomatto']
<class 'list'>

### Its Allow duplicates

In [4]:
my_list = ["apple","orange", "tomatto", "cheryy", "banana", "milk shake"]
print(my_list)
print(type(my_list))

['apple', 'orange', 'tomatto', 'cheryy', 'banana', 'milk shake']
<class 'list'>

### list() item Data Types

In [8]:
L1 = ["apple","orange", "tomatto"]
L2 = [1,2,3,4,5,6,7,7,8]
L3 = [True, False, True, False]
L4 = [1.2, 5.6, 8.9]
L5 = ["aaj jaane ki zid na karo"]

print(L1)
print(L2)
print(L3)
print(L4)

['apple', 'orange', 'tomatto']
[1, 2, 3, 4, 5, 6, 7, 7, 8]
[True, False, True, False]
[1.2, 5.6, 8.9]

Example

In [9]:
a = [12,26,2.3,"books", "fruits", 9.3, -10.3,-10, True, False]
print(a)
print(type(a))

[12, 26, 2.3, 'books', 'fruits', 9.3, -10.3, -10, True, False]
<class 'list'>

# list() Length

In [11]:
a = [12,26,2.3,"books", "fruits", 9.3, -10.3,-10, True, False]
print(a)
print(len(a))

[12, 26, 2.3, 'books', 'fruits', 9.3, -10.3, -10, True, False]
10

# list() Access items

In [12]:
L1 = [45,56,12,23,789,456,1323]
print(L1[0])
print(L1[1])
print(L1[2])

45
56
12

In [13]:
L1 = [45,56,12,23,789,456,1323]

print(L1[-1])
print(L1[-2])
print(L1[-3])

1323
456
789

# list() Slicing

In [14]:
my_list = [12,45,89,56,23,98,56,45,45]
print(my_list[0:6])                        # to get up to 5 we take upto 6

[12, 45, 89, 56, 23, 98]

In [16]:
my = [1,2,3,4,5,6,7,8,9,10]
print(my[0:])
print(my[1:5])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5]

In [3]:
thislist = [10,11,12,13,14,15,16,17,18,19,20]
print(thislist[0:11:2])                         #here is difference of 2

[10, 12, 14, 16, 18, 20]

In [5]:
thislist = [10,11,12,13,14,15,16,17,18,19,20]
print(thislist[1:10:3])

[11, 14, 17]

## Change of list() items

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist[0] = "sana"
thislist[1] = "straw"
print(thislist)

['sana', 'straw', 'cherry']

In [11]:
a = [10,12,14,16,-12,-14,-16,-18]
a[0] = "Sana"
a[1] = 300
print(a)

['Sana', 300, 14, 16, -12, -14, -16, -18]

# Change a range of item

In [12]:
a = [12,14,16,18,20,-12,-14,-16,-18,-20,22]
a[2:4] = "book","copy","pen"
print(a)

[12, 14, 'book', 'copy', 'pen', 20, -12, -14, -16, -18, -20, 22]

# Add list[] items

### append()

In [13]:
thislist  =["apple","banana","cherry"]
thislist.append("sana")
print(thislist)

['apple', 'banana', 'cherry', 'sana']

In [15]:
m = [12,14,16,18,20]
m.append(24)
print(m)

[12, 14, 16, 18, 20, 24]

### remove()  items from list()

In [16]:
m = [12,14,16,18,20]
m.remove(16)
print(m)

[12, 14, 18, 20]

# join() in the list()

In [17]:
l1 = ["a","b","c"]
l2 = [1,2,3]

l3 = l1 + l2

print(l3)

['a', 'b', 'c', 1, 2, 3]

# Check if a list contain an element

In [20]:
L1 = [1,2,3,'a','b','c']
'a' in L1

True

In [21]:
L2 = [1,2,3,'a','b','c']

5 in L2

False

# reverse() a list()

In [22]:
mylist = [1,2,3,4,5,'ihh','Python']
mylist.reverse()
print(mylist)

['Python', 'ihh', 5, 4, 3, 2, 1]

# Interchanging of first and last in list()

In [25]:
a = [2,4,6,8,10,12,14,16,18,20]
print(a)
print(len(a))

b = a[0]

a[0] = a[5]
a[6] = b

print("Now the new list is", a )

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
10
Now the new list is [12, 4, 6, 8, 10, 12, 2, 16, 18, 20]

# Multiply all numbers in the list

In [27]:
a = [1,2,3,4,5,6,7,8,9,10]

n = 1

for i in range(10):
    n = n*a[i]
    i = i+1
    print(n)

1
2
6
24
120
720
5040
40320
362880
3628800