# tuple() in Python

### Creating a tuple()

In [3]:
my_tuple = (1,2,3,4,5)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

## tuple() with mixed data types

In [4]:
z = (1, "hello", 30.5)
print(z)
print(type(z))

(1, 'hello', 30.5)
<class 'tuple'>

# Empty tuple()

In [5]:
a = ()
print(a)
print(type(a))

()
<class 'tuple'>

# nested tuple()

In [6]:
my_tup = ("mouse", [2,4,6], (1,2,3))
print(my_tup)
print(type(my_tup))

('mouse', [2, 4, 6], (1, 2, 3))
<class 'tuple'>

# Create a python tuple with one element

In [7]:
var1 = ("Hello")
print(var1)
print(type(var1))

Hello
<class 'str'>

In [12]:
var2 = ("Hello",)
print(var2)
print(type(var2))

('Hello',)
<class 'tuple'>

# the tuple() constructer

In [1]:
this_tuple = tuple(("a","b","c"))
print(this_tuple)
print(type(this_tuple))

('a', 'b', 'c')
<class 'tuple'>

# Indexing

In [2]:
a = (100,200,300,400,500)

print(a[0])
print(a[1])
print(a[3])

100
200
400

In [6]:
b = ("sana", "jaan", 10,20,10.5, 20.5, 5+6j,10+20j)

print(b[1])
print(b[2])
print(b[4])
print(b[7])

jaan
10
10.5
(10+20j)

In [7]:
x = (10,20,30,40,50)

print(x[-1])
print(x[-2])
print(x[-3])
print(x[-4])

50
40
30
20

# Slicing

In [9]:
z = (10,20,30,40,50,60,70,80,90,100)
print(len(z))
print(z[0:5])
print(z[1:5])
print(z[:10])

10
(10, 20, 30, 40, 50)
(20, 30, 40, 50)
(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [11]:
z = (10,20,30,40,50,60,70,80,90,100)
print(len(z))

print(z[:])

10
(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [12]:
z = (10,20,30,40,50,60,70,80,90,100)
print(z[0:5:2])
print(z[::2])

(10, 30, 50)
(10, 30, 50, 70, 90)

# reversing of tuple()

In [15]:
a = (2,4,6,8,10,12,14,16,18,20)
print(len(a))
print(a[::-1])    # to rverse take a double colon

10
(20, 18, 16, 14, 12, 10, 8, 6, 4, 2)

In [17]:
a = (2,4,6,8,10,12,14,16,18,20)

print(a[::])
print(a[3:])
print(a[:4])
print(a[-2:-5])
print(a[::2])

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)
(8, 10, 12, 14, 16, 18, 20)
(2, 4, 6, 8)
()
(2, 6, 10, 14, 18)

# Duplicating are allowed in tuple()

In [19]:
a = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500)
print(a)
print(type(a))

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500)
<class 'tuple'>

# once the tuple is created, you can not change its values. Tuples are unchangable and also called immutable

# Convert the tuple into list

In [22]:
x = ("data", "analyst", "python")

y = list(x)
y[1] = "science"

x = tuple(y)
print(x)

('data', 'science', 'python')

# Adding elements to tuples

### Since tuples are immutable they do not have built-in function append() method, but by other ways added

In [23]:
a = (25,30,35,40,45)
y = list(a)
y.append("orange")
a  = tuple(y)
print(a)

(25, 30, 35, 40, 45, 'orange')

# Adding tuple( ) to a tuple()

In [31]:
p = ("python", "data", "work")
q = ("code",)

p + = q

print(p)

('python', 'data', 'work', 'code')

In [37]:
x = ("sana")
y = (" jaan")

x+=y
print(x)

sana jaan

# Remove elements from tuples()

# tuples are unchangable, So you can not remove items from it, 
but you can use the same work sround as we used for changing and adding tuples item:

In [43]:
x = ("apples","banana", "cherry")
y = list(x)

y.remove("apples")
x = tuple(y)

print(x)

TypeError: 'tuple' object is not callable

In [42]:
x = (2,4,6,8,10)

y = list(x)

y.remove(10)

x = tuple(y)
print(x)

TypeError: 'tuple' object is not callable

# del()  function can delete tuple completely:

In [48]:
y = ("a","b","c", 25,30,2.5)

del y

print(y)

NameError: name 'y' is not defined

# loop( ) through a tuple()

In [49]:
thistuple = ("a","b","c")
for x in thistuple:
    print(x)

a
b
c

In [50]:
x  = ("apple","banana", "cherry")

i = 0
while i<len(x):
    print(x[i])
    i = i+1

apple
banana
cherry

# Joining Of two tuple()

In [52]:
T1 = ("a","b","c")
T2 = (1,2,3,4,5)

T3 = T1+T2

print(T3)

('a', 'b', 'c', 1, 2, 3, 4, 5)

### multiply among tuple()

In [53]:
fruits = ("apple", "banana","cherry")
nuts = fruits*2

print(nuts)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Write a program to find repeated items in a tuple.

In [54]:
#create a tuple

tuplex = 2,4,6,8,10,12,14

print(tuplex)

# returns the number of items it apperas in the tuples.

count = tuplex.count(4)
print(count)

(2, 4, 6, 8, 10, 12, 14)
1

### Write a program to receive 5 numbers from the user and store it in a tuple

In [ ]:
T = ()
i = 0
while i<=5:
    num = int(input("Enter the number"))
    T = T +(num,)
    i =- i+1
    print(T)

Enter the number10
(10,)
Enter the number11
(10, 11)
Enter the number12
(10, 11, 12)
Enter the number13
(10, 11, 12, 13)
Enter the number14
(10, 11, 12, 13, 14)
Enter the number15
(10, 11, 12, 13, 14, 15)
Enter the number16
(10, 11, 12, 13, 14, 15, 16)
Enter the number132
(10, 11, 12, 13, 14, 15, 16, 132)
Enter the number1323
(10, 11, 12, 13, 14, 15, 16, 132, 1323)
Enter the number123132
(10, 11, 12, 13, 14, 15, 16, 132, 1323, 123132)
Enter the number13223
(10, 11, 12, 13, 14, 15, 16, 132, 1323, 123132, 13223)
Enter the number11231
(10, 11, 12, 13, 14, 15, 16, 132, 1323, 123132, 13223, 11231)
Enter the number11321
(10, 11, 12, 13, 14, 15, 16, 132, 1323, 123132, 13223, 11231, 11321)
Enter the number1321312
(10, 11, 12, 13, 14, 15, 16, 132, 1323, 123132, 13223, 11231, 11321, 1321312)
Enter the number131114541
(10, 11, 12, 13, 14, 15, 16, 132, 1323, 123132, 13223, 11231, 11321, 1321312, 131114541)
Enter the number5415444545454
(10, 11, 12, 13, 14, 15, 16, 132, 1323, 123132, 13223, 11231, 11321, 1321312, 131114541, 5415444545454)