# Day 2

# varibles and operators in python

creating a varibles

In [1]:
x = 5
y = "apple"
print(x)
print(y)

5
apple

# many values to multiple varibles

In [4]:
x,y,z = "orange","banana","cherry"
print(x)
print(y)
print(z)

print(x,y,z)

orange
banana
cherry
orange banana cherry

In [6]:
x = y= z= "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Python Output variables

the python print() function is often used to output variables.

In [12]:
x = "python"
y = "is"
z = "awsome"
print(x, y, z)

python is awsome

# Data Types In Python

In [13]:
x = 2
print(x)
print(type(x))

2
<class 'int'>

In [14]:
y = 2.5
print(y)
print(type(y))

2.5
<class 'float'>

In [16]:
z = "hello sana"
print(z)
print(type(z))

hello sana
<class 'str'>

In [18]:
a = 2+4j
print(a)
print(type(a))

(2+4j)
<class 'complex'>

In [19]:
b = [1,2,3,4]
print(b)
print(type(b))

[1, 2, 3, 4]
<class 'list'>

In [20]:
c = (1,2,3,4,5,6)
print(c)
print(type(c))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [21]:
d = {1,2,3,4}
print(d)
print(type(d))

{1, 2, 3, 4}
<class 'set'>

In [22]:
e = {"a":1, "b":2}
print(e)
print(type(e))

{'a': 1, 'b': 2}
<class 'dict'>

### So there are (Integer, Float, Complex, String, list, Tuples, set & Dictionary) Data types maily used in data analytics

# Operators in Python

### 1. Addition

In [23]:
a = 5
b =10
print(a+b)

15

In [24]:
a =10
b = 10.15
print(a+b)

20.15

In [25]:
a = 3+2j
b = 3
print(a+b)

(6+2j)

In [31]:
a = "hello"
b = " Sana"
print(a+b)
print(a +""+ b)
print(a +"_"+ b)

hello Sana
hello Sana
hello_ Sana

In [35]:
a = 2
b = 3.456
c = 2+7j
d = 3 
e = a+b+c+d
print(e)
print(type(e))

(10.456+7j)
<class 'complex'>

### Substraction

In [38]:
a = 20
b = 30
print(a-b)
print(b-a)

-10
10

In [39]:
a = 20
b = 30
c = b-a
print(c)
print(type(c))

10
<class 'int'>

In [40]:
a = "Hello"
b = " Sana"
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Multiplications

In [41]:
a = 10
b = 10
print(a*b)

100

In [42]:
x = 120.5
y = 140.9
z = x*y
print(z)
print(type(z))

16978.45
<class 'float'>

### Division

In [43]:
z = 100
a = 10
print(z/a)

10.0

In [44]:
a = 10+20j
b = 20
print(a/b)

(0.5+1j)

### Modulus

In [45]:
a = 12
b = 3
print(a%b)

0

In [46]:
a = 20
b = 5
print(a/b)

4.0

In [47]:
a =19
b = 3
print(a%b)

1

In [48]:
b = 2 + 5j
c = 5
print(b%c)

TypeError: unsupported operand type(s) for %: 'complex' and 'int'

### Exponent

In [49]:
a = 4
print(a**3)

64

In [50]:
a = 2
print(a**3)

8

In [51]:
z = 5.5
print(z**3)

166.375

In [52]:
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [54]:
print(a and b)
print(b and a)

False
False

In [55]:
print(a or b)
print(b or a)

True
True

In [56]:
print(not(a))

False

Q 1. Find the area of a rectangle with length 12 cm and breadth 6 cm

In [58]:
a = 12
print("the length of rectangle is 12 cm")
b = 6 
print("the breadth of rectangle is 6 cm")
area = a*b
print("the area of rectangle is ", area)
print(a,b,area)

the length of rectangle is 12 cm
the breadth of rectangle is 6 cm
the area of rectangle is  72
12 6 72